<a href="https://colab.research.google.com/github/Gimlocal/AiPython/blob/main/240105.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
data = "John,30,Engineer\nAlice,25,Designer\nBob,22,Artist"
lines = data.split("\n")
print(lines)
for line in lines:
  fields = line.split(",")
  print("Name:", fields[0], "Age:", fields[1], "Occupation:", fields[2])

['John,30,Engineer', 'Alice,25,Designer', 'Bob,22,Artist']
Name: John Age: 30 Occupation: Engineer
Name: Alice Age: 25 Occupation: Designer
Name: Bob Age: 22 Occupation: Artist

In [4]:
words = ['Hello', 'world', 'this', 'is', 'a', 'test']
sentence = ' '.join(words)
print(sentence)

Hello world this is a test

In [8]:
input = "Geeks for Geeks"
print(input.split(" "))

['Geeks', 'for', 'Geeks']

In [7]:
words = ['Geeks', 'for', 'Geeks']
print("-".join(words))

Geeks-for-Geeks

In [9]:
squares = [x**2 for x in range(5)]
print(squares)

[0, 1, 4, 9, 16]

In [11]:
squares = [x**2 for x in range(3,20) if x%3==0]
print(squares)

[9, 36, 81, 144, 225, 324]

In [19]:
input = [1,2,3,4,5]
squares = [x**2 for x in input]
print(squares)

[1, 4, 9, 16, 25]

In [18]:
input = ["Seoul", "New York", "London", "Shanghai", "Paris", "Tokyo"]
words = [x for x in input if x[0] == "S"]
print(words)

['Seoul', 'Shanghai']

In [20]:
fruits = ['apple', 'banana', 'cherry']
for index, fruit in enumerate(fruits):
  print(index, fruit)

0 apple
1 banana
2 cherry

In [22]:
input = ['a','b','c']
for index, input in enumerate(input):
  print("fruit%d name is %s"%(index,input))

fruit0 name is a
fruit1 name is b
fruit2 name is c

In [27]:
input =  ['a','b','c']
for x in range(len(input)):
  print("fruit%d name is %s"%(x,input[x]))

fruit0 name is a
fruit1 name is b
fruit2 name is c

In [28]:
names = ['John', 'Jane', 'Doe']
ages = [25, 30, 35]
for name, age in zip(names, ages):
  print(f"{name} is {age} years old.")

John is 25 years old.
Jane is 30 years old.
Doe is 35 years old.

In [42]:
name = [ "M", "N", "S", "A" ]
roll_num = [ 4, 1, 3, 2 ]
print(dict(zip(name,roll_num)))

{'M': 4, 'N': 1, 'S': 3, 'A': 2}

In [32]:
names = ['M', 'R', 'C']
ages = [24, 50, 18]
dicts = dict(zip(names,ages))
for a,b in enumerate(dicts):
  print(a,b,dicts[b])

0 M 24
1 R 50
2 C 18

In [48]:
double = lambda x: x * 2
print(double(5)) # 10

10

In [44]:
add = lambda a,b:print(a+b)
add(10,5)

15

In [46]:
numbers = [1, 2, 3, 4]
squared = list(map(lambda x: x*2, numbers))
print(squared) # [2, 4, 6, 8]

[2, 4, 6, 8]

In [47]:
num1 = [4, 5, 6]
num2 = [5, 6, 7]
print(list(map(lambda a,b:a+b,num1,num2)))

[9, 11, 13]